@using Library.Web.Models.Branch
@model Library.Web.Models.Branch.BranchDetailModel
@{
    ViewBag.Title = @Model.BranchName + " Branch";
}

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
}

@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
}

<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">@Model.BranchName</h2>
    </div>
    <div class="jumbotron">
        <div class="row ">
            
           
                <img class="img-responsive" src="@Url.Content(@Model.ImageUrl)" style="position:relative"  />
        

            </div>
            <div class="row branchInfo">
                <div class="col-md-6">
                    <div>
                        <div class="branchContact">
                            <div id="branchAddress">Address: @Model.Address</div>
                            <div id="branchTel">Telephone: @Model.Telephone</div>
                        </div>
                        <div id="branchDescription">
                            <p class="caption">@Model.Description</p>
                        </div>

                        <div id="branchHours">
                            <p class="itemLabel">Working Time</p>
                            <ul>
                                @foreach (var day in @Model.HoursOpen)
                                {
                                    <li>@day</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 detailInfo">
                    <table>
                        <tr>
                            <td class="itemLabel">Date Opened: </td>
                            <td class="itemValue">@Model.BranchOpenedDate</td>
                        </tr>
                        <tr>
                            <td class="itemLabel">Number Of Patrons: </td>
                            <td class="itemValue">@Model.NumberOfPatrons</td>
                        </tr>
                        <tr>
                            <td class="itemLabel">Value of Assets: </td>
                            <td class="itemValue">$@Model.TotalAssetValue</td>
                        </tr>
                    </table><br />


                    <div class="corner">

                        <div>
                            <iframe src="@Model.locmap" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>

                    </div>

                </div>
            </div>
        </div>
</div>